body {
  background-color: #161616;
}
img, img:link, img:visited, img:hover {
  border:  none;
  /* width: 90px;
  width: 90px; */
  margin: 2px 2px;
  opacity: 0.8;
}
img:hover {
  opacity: 1;
}
#menu {
  width:100%;
  text-align: center;
}
