Redirect 303 "/tiny/sema-freepalestine" "https://ceasefirenow.substack.com"
Redirect 303 "/tiny/southcoast-reads" "https://southcoastreads.substack.com"
Redirect 303 "/tiny/dartmouth-dems" "https://dartmouthdems.substack.com"
Redirect 303 "/tiny/southcoast-dems" "https://linktr.ee/southcoast.dems"
