body {
  background-color: #333333;
}
img, img:link, img:visited, img:hover {
  border:  none;
  margin: 3px 5px;
  /* height: 100px; */
  width: 128px;
  opacity: 0.7;
}
img:hover {
  opacity: 1;
}
table {
  border-style: none;
  margin: 2px;
  padding: 2px;
}
#menu {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 266px;
  height: 266px;
  margin-top: -105px;
  margin-left: -140px;
}
