body {
  background-color: #111111;
}
img, img:link, img:visited, img:hover {
  border:  none;
  margin: 6px 6px;
  /* height: 100px; */
  width: 60px;
  opacity: 0.8;
}
img:hover {
  opacity: 1;
}
table {
  border-style: none;
  margin: 2px;
  padding: 2px;
}
#menu {
  display:flex;
  justify-content:center;
  align-items:center;
  vertical-align: middle;
  margin-top: 7%;
}
a, a:link, a:visited, a:hover {
  border-style: none;
}
